* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #444;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: #777;
}

/* MAIN */

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr; /* Bu kod, grid'in sütunlarının genişliklerini belirtir. 4fr ve 3fr ifadeleri, sırasıyla 4 birim ve 3 birim genişlikte iki sütunu temsil eder. Bu birimler, kalan alanı eşit olarak bölmek anlamına gelir.  */
  grid-template-rows: auto repeat(3, 15rem) auto; /* Bu kod, grid'in satırlarının yüksekliklerini belirtir. auto ifadesi, otomatik olarak boyutlandırılan bir satırı temsil eder. repeat(3, 15rem) ifadesi, 15rem yüksekliğinde üç satırı temsil eder. Bu, bir önceki satırı tekrar ederek 3 adet 15rem yüksekliğinde satır oluşturur. auto ifadesi ise geri kalan boşluğu otomatik olarak doldurur.*/
  gap: 2rem;

  /* opacity:0; */
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2; /* Bu örnek, bir öğenin sütun yerleşimini belirleyen bir sınıfı temsil eder. Bu öğe, gridde 1. sütundan başlayarak 2 sütun boyunca uzanacak şekilde yerleştirilir. */
  display: flex;
  align-items: flex-end; /*öğelerin dikey hizalamasını belirler. */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500; /* genellikle metin üzerinde kullanılır ve metnin kalınlığını tanımlar */
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */

.movements {
  grid-row: 2 / span 3; /*  Bu ifade, öğenin hangi satırdan başlayacağını ve kaç satır boyunca yayılacağını belirtir. 2 ifadesi, öğenin 2. satırdan başlayacağını gösterir. span 3 ifadesi ise, öğenin 2. satırdan başlayarak 3 satır boyunca yayılacağını ifade eder. */
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll; /* Bu özellik, öğenin içeriğinin sığmadığı durumları yönetmek için kullanılır. */
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto; /* bir öğenin sol kenarındaki dış boşluğu ayarlamak için kullanılır ve bu öğeyi diğer öğelerle ilgili olarak sayfa veya container içinde sağa yaslamayı sağlar. */
}

/* SUMMARY */

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline; /*Bu değer, öğelerin temel çizgisine (baseline) göre hizalanmasını ifade eder. Temel çizgi, bir metin öğesinde genellikle metin karakterlerinin alt kenarıdır.*/
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2; /*  satır yerleşimini belirtir. Bu öğe, form içindeki ikinci satıra (grid-row: 2;) yerleştirilecek şekilde düzenlenir. */
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
